body{
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5%;
    padding: 0;
}

#cabecera{
    background: rgb(52, 51, 51);
    background-image: url("Git/Imagenes/3.png") no-repeat;
    box-shadow: 0px 2px 10px 0px rgb(19, 19, 19,0.5);
    background: turquoise;
    color: black;
    margin: 1px;
    padding: 0.5em;
    font-weight: bold;
}

#cabecera #logo{
    width: 19px;
    vertical-align: middle;
}

#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}


#container{
    width: 100%;
    padding: 0 0 0 0em;
    text-align: left;
    border: 1px solid;
    margin: 0 auto;
}

#container h1{
    font-size: 20px;
}

#post{
    background: white;
    padding: 1em;
}